@import "tailwindcss";

@theme {
  --color-brand: #065b8a;
  --color-brand-dark: #05486b;
  --color-brand-green: #1b634a;
}

html, body, #root {
  height: 100%;
}

body {
  @apply bg-gray-50 text-gray-800;
}
